.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #03703c;
    color: #fff;
    width: 100%;

    margin: 0;
    padding: 0;
}

.header-logo{
    align-items: center;
    position: relative;

    img {
        cursor: pointer;
    }
    
}

.botoes-navegacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

    margin: 25px;

    img{
        cursor: pointer;
    }
}